<div class="voting-container mb-4 mb-sm-0 mx-auto mx-sm-2">
  <div class="card voting-card" data-card-id="<%= card.id %>">
    <img
      src="<%= card.imageUrl %>"
      alt="<%= card.name %>"
      class="card-img-top"
    />
    <div class="card-body">
      <h5 class="card-title text-center text-sm-start"><%= card.name %></h5>
      <p class="card-text mb-1 text-center text-sm-start">
        <i class="fas fa-paint-brush me-1"></i> <%= card.artist %>
      </p>
    </div>
  </div>
</div>
